@charset "utf-8";

body{width:100%;background-color:#f6f8fa}
body #wrap ::-webkit-scrollbar{width:10px;height:10px;}
body #wrap ::-webkit-scrollbar-track{background-color:transparent;border-radius:10px;}
body #wrap ::-webkit-scrollbar-thumb{background-color:#d8d8d8;border-radius:10px;background-clip:padding-box;border:3px solid transparent;}

.hide {display: none !important;}

#wrap{min-height:400px;}
.fixed{overflow:hidden}
.fixed #wrap{position:fixed;width:100%;overflow:hidden}
.dim{display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.3);z-index:1000}

#wrap.login-wrap{width:432px;margin:0 auto;padding:120px 0;}
.login-head{height:160px;margin-bottom:24px;padding:64px 0 0;background:url(../images/login/login_head_bg@3x.png) no-repeat 50% 50% / auto 100%;}
.login-logo{width:140px;margin:0 auto}
.login-logo img{}
.login-input + .login-input{margin-top:8px;}
.login-body{padding:60px 36px 96px;border-radius:4px;box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.1);background-color:#fff;}
.login-title{margin-bottom:48px;font-size:24px;font-weight:700;color:#3d3e41;line-height:26px;}
.login-text{margin-bottom:16px;font-size:14px;color:#9e9fa7;line-height:16px;}
.login-etc{margin:16px 0 36px;}
.login-etc::after{display:block;clear:both;content:'';}
.login-etc-left{float:left;}
.login-etc-right{float:right;}
.login-etc-right a{display:inline-block;padding:4px 0;font-size:14px;font-weight:500;color:#3d3e41;text-decoration:underline;}

.login-btn + .login-btn{margin-top:8px;}
.login-btn a,.login-btn button{display:block;height:48px;line-height:46px;padding:0 2px;border-radius:2px;border:solid 1px #4c34d9;background-color:#fff;font-size:16px;font-weight:500;color:#4c34d9;text-align:center;}
.login-btn.color a,.login-btn.color button{background:#4c34d9;color:#fff;}
.login-error{margin:16px 0 0;padding:12px 0 12px 40px;border-radius:4px;border:dashed 1px #ff2727;background:rgba(255, 39, 39, 0.1) url(../images/login/login_error_ico@2x.png) no-repeat 16px 12px / 16px 16px;font-size:14px;color:#ff2727;}

.login-form{width:360px;margin:0 auto;padding:36px;border-radius:24px;border:solid 1px #f3f3f3;background-color:#ffffff;}
.login-form [type="text"],.login-form [type="password"]{}
.login-form .form-item{}
.login-form .form-item + .form-item{margin-top:8px;}
.login-enter{}
.login-enter button{width:100%;height:52px;margin-top:16px;border-radius:12px;background-color:#11ba84;font-weight:700;font-size:16px;text-align:center;color:#ffffff;}
.login-link{margin-top:37px;font-size:0;text-align:center;}
.login-link a{display:inline-block;margin:0 18px;font-size:14px;line-height:1.43;color:#007f32;text-decoration:underline;}

@media screen and (max-width:1024px){

}
@media screen and (max-width:767px){
	#wrap.login-wrap{padding:60px 0;}
}
@media screen and (max-width:479px){
	#wrap.login-wrap{width:100%;padding:20px;}
	.login-body{padding:30px 20px}
	.login-title{margin-bottom:20px;font-size:20px;}
	.login-enter button{font-size:15px;}

	.login-btn a,.login-btn button,.login-enter button{font-size:14px;}
	.login-text,
	.login-etc-right a,
	.login-error,
	.login-link a{font-size:13px;}
}

/* New Login */
#wrap.login-new-wrap{}
.login-new{position:absolute;top:50%;left:50%;width:610px;height:610px;margin:-305px 0 0 -305px;}
.login-new-logo{;position:absolute;top:50%;left:50%;width:140px;margin:0 0 0 -70px;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);}
.login-new-btn{position:absolute;}
.login-new-btn.item1{top:0;left:0;}
.login-new-btn.item2{top:0;right:0;}
.login-new-btn.item3{bottom:0;left:0;}
.login-new-btn.item4{bottom:0;right:0;}

.login-new-btn a{position:relative;display:block;background-repeat:no-repeat;background-position:50% 50%;background-size:cover;text-align:center;}
.login-new-btn a span{position:absolute;top:50%;left:0;width:100%;font-size:20px;font-weight:900;color:#fff;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);}
.login-new-btn.item1 a{width:200px;height:400px;background-image:url(../images/login/login_new_bg1@3x.png);}
.login-new-btn.item2 a{width:400px;height:200px;background-image:url(../images/login/login_new_bg2@3x.png);}
.login-new-btn.item3 a{width:400px;height:200px;background-image:url(../images/login/login_new_bg3@3x.png);}
.login-new-btn.item4 a{width:200px;height:400px;background-image:url(../images/login/login_new_bg4@3x.png);}

@media screen and (max-width:767px){
	.login-new{width:92vw;height:92vw;margin:-46vw 0 0 -46vw;}
	.login-new-logo{width:22vw;margin:0 0 0 -11vw;}
	.login-new-btn a span{font-size:16px;}
	.login-new-btn.item1 a{width:30vw;height:60vw;}
	.login-new-btn.item2 a{width:60vw;height:30vw;}
	.login-new-btn.item3 a{width:60vw;height:30vw;}
	.login-new-btn.item4 a{width:30vw;height:60vw;}
}
@media screen and (max-width:479px){
	.login-new-btn a span{font-size:12px;}
}

/* 서브헤더 */
#header{position:relative;box-shadow:inset 0 -1px 0 0 #ebecf1;background-color:#ffffff;}
#header > .inner{position:relative;width:1280px;height:64px;margin:0 auto;padding-left:230px;}
.header-total a{display:none;position:absolute;top:20px;left:16px;width:24px;height:24px;background:url(../images/common/header_total@2x.png) no-repeat 50% 50% / 24px 24px;text-indent:-9999px;font-size:0;z-index:10;}
.active .header-total a{background-image:url(../images/common/header_close@2x.png);}
.header-logo{position:absolute;left:50px;top:18px;width:140px;}
.header-logo a{display:block;}
.header-menu{padding:20px 0;}
.header-menu::after{display:block;clear:both;content:'';}
.header-menu > li{position:relative;float:left;}
.header-menu > li + li{margin-left:40px;}
.header-menu > li > a{display:block;padding:0 0 0 22px;background-repeat:no-repeat;background-position:0 50%;background-size:16px auto;font-size:16px;font-weight:700;color:#3d3e41;line-height:24px;}
.header-menu > li.on > a{color:#4c34d9}
.header-menu > li.item1 > a{background-image:url(../images/common/header_menu_01@2x.png);}
.header-menu > li.item2 > a{background-image:url(../images/common/header_menu_02@2x.png);}
.header-menu > li.item3 > a{background-image:url(../images/common/header_menu_03@2x.png);}
.header-menu > li.item4 > a{background-image:url(../images/common/header_menu_04@2x.png);}
.header-menu > li.item5 > a{background-image:url(../images/common/header_menu_05@2x.png);}
.header-menu > li.item6 > a{background-image:url(../images/common/header_menu_06@2x.png);}
.header-menu > li.item1.on > a{background-image:url(../images/common/header_menu_01_on@2x.png);}
.header-menu > li.item2.on > a{background-image:url(../images/common/header_menu_02_on@2x.png);}
.header-menu > li.item3.on > a{background-image:url(../images/common/header_menu_03_on@2x.png);}
.header-menu > li.item4.on > a{background-image:url(../images/common/header_menu_04_on@2x.png);}
.header-menu > li.item5.on > a{background-image:url(../images/common/header_menu_05_on@2x.png);}
.header-menu > li.item6.on > a{background-image:url(../images/common/header_menu_06_on@2x.png);}
.header-menu > li .submenu{display:none;position:absolute;top:37px;left:0;width:180px;padding:12px;border-radius:2px;box-shadow:20px 20px 30px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1);border:solid 1px #7b868c;background-color:#fff;z-index:100;}
.header-menu > li .submenu li + li{border-top:1px solid #e9e9e9;}
.header-menu > li .submenu li a{display:block;padding:10px 4px;font-size:12px;line-height:20px;font-weight:500;color:#3d3e41;}
.header-menu > li .submenu li a:hover,.header-menu > li .submenu li a:focus{background-color:#f2f0ff;}
.header-menu > li.on .submenu{display:block;}
.header-logout{position:absolute;right:0;top:26px;}
.header-pw{position:absolute;right:65px;top:26px;}
.header-myinfo{position:absolute;right:170px;top:26px;}
.header-user{position:absolute;right:0;top:26px;}
.header-user a{display:block;font-size:12px;font-weight:700;color:#7c7e85;}

@media screen and (max-width:1024px){
	#header > .inner{width:100%;padding:18px 0 0;}
	.header-logo{position:static;left:auto;top:auto;width:140px;margin:0 auto}
	.header-total{display:block;}
	.header-total a{display:block;position:absolute;top:20px;left:16px;width:24px;height:24px;background:url(../images/common/header_total@2x.png) no-repeat 50% 50% / 24px 24px;text-indent:-9999px;font-size:0;z-index:10;}
	.header-menu-wrap{display:none;position:absolute;top:65px;left:0;width:100%;padding:24px;border-bottom:1px solid #ebecf1;background-color:#fff;z-index:100;}
	.header-menu{margin-bottom:48px;padding:0;}
	.header-menu > li{float:none;}
	.header-menu > li + li{margin:24px 0 0;}
	.header-menu > li > a.parents{position:relative;}
	.header-menu > li > a.parents::after{display:block;clear:both;content:'';position:absolute;top:50%;right:0;width:12px;height:12px;background:url(../images/common/header_menu_arrow@2x.png) no-repeat 50% 50% / 12px 12px;}
	.header-menu > li.active > a.parents::after{transform:rotate(180deg)}

	.header-menu > li .submenu{position:relative;top:auto;left:auto;width:100%;padding:12px 0 0;border-radius:0px;box-shadow:none;border:0 none;}
	.header-menu > li .submenu li + li{border-top:0 none}
	.header-menu > li .submenu li a{padding:10px 4px 10px 22px}

	.header-user{position:relative;right:auto;top:auto;float:right;}

}
@media screen and (max-width:767px){

}
@media screen and (max-width:479px){

}

#container{padding:36px 0 136px;}
.content{position:relative;width:1280px;margin:0 auto;}
.content-head{position:relative;margin-top:-6px;margin-bottom:36px;padding-bottom:16px;border-bottom:1px solid #000;}
.content-head h2{font-size:24px;font-weight:700;line-height:26px;color:#3d3e41;}

.content-chart{position:relative;margin:0 -11px;}
.content-chart::after{display:block;clear:both;content:'';}
.content-chart > .content-chart-box{float:left;width:33.33%;padding:0 11px;}
.content-chart .inner-box{position:relative;height:400px;margin-bottom:24px;padding:29px 36px;border-radius:4px;box-shadow:20px 20px 30px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1);background-color:#fff;}
.content-chart .box-head{position:relative;height:40px;padding:7px 0;border-bottom:1px solid #e9e9e9;font-size:16px;font-weight:500;color:#3d3e41;line-height:18px;}
.content-chart .box-head em{display:block;position:absolute;top:7px;right:0;font-size:24px;font-weight:500;color:#0080ff;line-height:26px;}
.content-chart .box-body{}

.content-option{position:relative;margin-bottom:16px;}
.content-option::after{display:block;clear:both;content:'';}

.option-title{float:left;padding-top:16px;font-size:18px;font-weight:700;color:#3d3e41;}
.option-date{float:left;padding:12px 0;font-size:14px;font-weight:700;color:#4c34d9;}
.option-data{float:right;}
.option-data::after{display:block;clear:both;content:'';}
.option-data.clear{float:none;clear:both;}
.option-data > dt,.option-data > dd,.option-data > div,.option-data > li{float:left;font-size:14px;font-weight:700;color:#3d3e41;}
.option-data > dt{margin-right:8px;line-height:40px;}
.option-data > dd + dt{margin-left:36px;}
.option-data > .option + .auto{margin-left:8px;}
.option-data > dd,.option-data > div,.option-data > li{width:140px;margin-left:8px;}

.option-data > .title{width:auto;float:left;margin-right:8px;margin-left:0;line-height:40px;font-size:14px;font-weight:700;color:#3d3e41;}
.option-data > .auto{width:auto;float:left;}
.option-data > .title + .auto{margin-left:0;}
.option-data > .auto + .title{margin-left:36px;}

.option-data > .dash{width:25px;}
.option-data > .btn button{width:88px;float:left;}
.option-data > .btn button.medium{width:140px;}
.option-data > .btn button + button{margin-left:8px;}
.option-data > .tabs{width:auto;border-radius:2px;border:solid 1px #000;overflow:hidden;}
.option-data > .tabs::after{display:block;clear:both;content:'';}
.option-data > .tabs a{display:block;float:left;width:80px;height:40px;line-height:38px;background-color:#fff;font-size:14px;font-weight:700;text-align:center;color:#b1b1b1;}
.option-data > .tabs a + a{border-left:solid 1px #000;}
.option-data > .tabs a.on{background-color:#000;color:#fff;}

.option-data .type-date-btn::after{display:block;clear:both;content:'';}
.option-data .type-date-btn > div{float:left;}
.option-data .type-date-btn > div + div{margin-left:8px;}
.option-data .type-date-btn .date{width:140px;}
.option-data .type-date-btn .dash{width:25px;}
.option-data .type-date-btn .button{width:88px;}

.option-tabs::after{display:block;clear:both;content:'';}
.option-tabs > .tabs{float:left;border-radius:2px;border:solid 1px #000;overflow:hidden;}
.option-tabs > .tabs a{display:block;float:left;width:160px;height:40px;line-height:38px;background-color:#fff;font-size:14px;font-weight:700;text-align:center;color:#b1b1b1;}
.option-tabs > .tabs a + a{border-left:solid 1px #000;}
.option-tabs > .tabs a.on{background-color:#000;color:#fff;}

.option-tabs2{margin-top:12px;}
.option-tabs2 > .tabs{display:table;table-layout:fixed;width:100%;border-radius:2px;border:solid 1px #818181;overflow:hidden;}
.option-tabs2 > .tabs a{display:table-cell;width:16.5%;height:40px;background-color:#fff;font-size:14px;font-weight:700;text-align:center;color:#b1b1b1;vertical-align:middle;-ms-word-break:keep-all;word-break:keep-all;}
.option-tabs2 > .tabs a + a{border-left:solid 1px #818181;}
.option-tabs2 > .tabs a.on{width:17.5%;background-color:#818181;color:#fff;}


.option-tabs-sub{position:relative;margin-top:12px;}
.option-tabs-sub > .tab-btn{display:block;float:left;width:17.5%;border-radius:2px;border:solid 1px #818181;height:42px;line-height:40px;background-color:#818181;color:#fff;font-size:14px;font-weight:700;text-align:center;}
.option-tabs-sub > .tab-txt{float:left;height:42px;line-height:42px;margin-left:8px;font-size:14px;font-weight:700;color:#3d3e41;}

.round-tab{position:absolute;left:50%;width:320px;margin-left:-160px;font-size:0;}
.round-tab::after{display:block;clear:both;content:'';}
.round-tab a{display:block;float:left;width:50%;height:40px;line-height:38px;border:1px solid #4c34d9;border-radius:20px 0 0 20px;font-size:14px;font-weight:700;text-align:center;color:#b1b1b1;text-align:center;}
.round-tab a.on{background-color:#4c34d9;color:#fff;}
.round-tab a + a{border-radius:0 20px 20px 0;}

@media screen and (max-width:1024px){
	.round-tab{clear:both;position:relative;left:auto;margin:0 auto;padding-top:10px;}
}
@media screen and (max-width:768px){
	.option-tabs-sub > .tab-btn{width:auto;padding:0 20px;}
	.round-tab{width:100%;}
	.option-tabs > .tabs + .option-btn{margin-top:10px;}
	.option-tabs2 > .tabs a{height:48px;padding:0 5px;font-size:13px;font-weight:400;}
}


.modal-tabs{float:none;margin-bottom:8px;}
.modal-tabs > div a{width:120px;}
.modal-tabs::after{display:block;clear:both;content:'';}

.option-data .gray button,
.option-data button.gray{border-color:#c8c8c8;color:#707070;}

.option-btn{position:relative;float:right;font-size:0;}
.option-btn.left{float:left;}
.option-btn a{display:inline-block;height:40px;line-height:38px;padding:0 17px;border-radius:2px;border:solid 1px #4c34d9;background-color:#fff;font-size:14px;font-weight:500;text-align:center;color:#4c34d9;}
.option-btn a + a{margin-left:8px;}


.option-btn-center{position:relative;font-size:0;}
.option-btn-center.left{float:left;}
.option-btn-center a{display:inline-block;height:40px;line-height:38px;padding:0 17px;border-radius:2px;border:solid 1px #4c34d9;background-color:#fff;font-size:14px;font-weight:500;text-align:center;color:#4c34d9;}
.option-btn-center a + a{margin-left:8px;}



.option-data > .half > div{float:left;}
.option-data > .half > div + div{margin-left:8px;}

.option-data > .triple > div{float:left;}
.option-data > .triple > div + div{margin-left:8px;}
.option-select{width:140px;float:left;}
.option-select.large{width:160px;}

.option-search{position:relative;float:right;width:240px;padding-right:40px;border-radius:2px;border:solid 1px #7b868c;background-color:#fff;}
.option-search input{border:0 none;height:38px;font-weight:500;}
.option-search button{position:absolute;top:0;right:0;width:40px;height:40px;border:0 none;background:url(../images/common/option_search_btn@2x.png) no-repeat 50% 50% / 16px 16px;text-indent:-9999px;font-size:0;}

.option-radio{float:left;padding:8px 20px 0 24px;line-height:32px;}
.option-data.left{float:left;}
.option-data.left .option-radio{padding:8px 0 0;}
.option-data.left > .auto{padding-left:0;}

@media screen and (max-width:1024px){
	#container{padding:30px}
	.content{width:100%;}

	.content-chart > .content-chart-box{width:50%;}

	.option-data.left + .option-data{clear:both}
	.option-data.wide{clear:both;padding-top:10px;}
	.option-data.wide	> .half{margin-left:0;}

	.option-date,.option-data{float:none;}
	.option-data > dt,.option-data > dd,.option-data > div,.option-data > li{margin-bottom:5px;}
	.option-data > dd,.option-data > div,.option-data > li{width:120px;}
	.option-data > dt + dd{margin-left:0;}
	.option-data > dd + dt,
	.option-data > .auto + .title{margin-left:12px;}
	.option-search{width:200px;}

	.option-radio{float:left;padding:8px 12px 0 0;line-height:32px;}

}
@media screen and (max-width:767px){
	#container{padding:20px}
	.content-head{margin-top:0;margin-bottom:20px;padding-bottom:16px;border-bottom:1px solid #000;}
	.content-head h2{font-size:20px;}
	.content-chart > .content-chart-box{width:100%;}
	.content-chart .inner-box{margin-bottom:20px;padding:20px;}

	.option-data > dt{clear:both;margin-right:0;}
	.option-data > dd{float:right;width:75%;}

	.option-data > dd + dt{margin-left:0;}

	.option-data.left{float:left;width:100%;}
	.option-data > .title{clear:both;float:none;width:100%;}

	.option-data > .triple{clear:both;position:relative;width:100%;margin-left:0 !important;}
	.option-data > .triple > div{width:32%;margin-bottom:5px;}
	.option-data > .triple > div + div{margin-left:2%;}
	.option-data > .triple > div:nth-child(4n){margin-left:0 !important;}
	.option-data > .half{clear:both;position:relative;width:100%;margin-left:0 !important;}
	.option-data > .half > div{width:49%;margin-bottom:5px;}
	.option-data > .half > div + div{margin-left:2%;}

	.option-data > .full{width:100% !important;margin-left:0 !important;}
	.option-data > .full .option-search{width:100%;}

	.option-select{width:140px;float:left;}

	.option-data > .auto.btn{margin-left:0;}
	.option-data > .btn button{width:72px;}
	.option-data > .btn button.medium{width:120px;}
	.option-data > dd + dt,
	.option-data > .auto + .title{margin-left:0;}
	.option-data .type-date-btn > div + div{margin-left:1%;}
	.option-data .type-date-btn .date{width:33%;}
	.option-data .type-date-btn .dash{width:5%;}
	.option-data .type-date-btn .button{width:26%;}
	.option-data .type-radio-input{width:100%;}
	.option-data .type-radio-input .option-search{clear:both;float:none;width:100%;}
	.option-data > .tabs{width:100%}
	.option-data > .tabs a{width:25%;}

	.option-tabs > .tabs{width:100%;}
	.option-tabs > .tabs a{width:50%;}

}
@media screen and (max-width:479px){
	.option-data > dd{float:right;width:65%;}
}

.content-space{padding:24px 24px 0;border-radius:2px;border:solid 1px #dcdee0;background-color:#fff;}
.content-space + .content-space{margin-top:28px}
.content-space .scroll-box{height:100px;overflow-y:auto;}
.space-title{padding-bottom:16px;font-size:18px;font-weight:700;color:#3d3e41;}
.space-title p{display:inline-block;padding:3px 0 0 5px;font-size:14px;font-weight:400;color:#3d3e41;}
.space-title p b{font-weight:400;color:#4c34d9;text-decoration:underline;}
ul.space-list{padding-bottom:14px;}
.space-list::after{display:block;clear:both;content:'';}
.space-list dt,.space-list dd,.space-list li{float:left;margin-bottom:10px;font-size:14px;font-weight:500;}
.space-list dt{width:38px;line-height:34px;color:#3d3e41;}
.space-list dd,.space-list li{margin-right:12px;text-align:center;}
.space-list dd a,.space-list li a{display:block;width:78px;height:34px;line-height:32px;border-radius:2px;border:solid 1px #4c34d9;background-color:#fff;color:#4c34d9}
.space-list dd a.on,.space-list li a.on{background-color:#4c34d9;color:#fff}

.content-sect-wrap{position:relative;margin:0 -20px;}
.content-sect-wrap::after{display:block;clear:both;content:'';}
.content-sect-wrap + .content-sect-wrap{margin-top:64px;}
.content-sect-wrap + .content-sect-wrap .content-sect{margin-top:0;}
.content-sect-wrap .content-option{padding-left:20px;}
.content-sect-wrap .content-sect{float:left;width:50%;padding:0 20px;}
.content-sect-wrap.sect-3n .content-sect{width:33.33%;}

.content-head + .content-sect-wrap{margin-top:52px;}
.content-head + .content-sect-wrap .content-sect{margin-top:0;}

.file-wrap{position:relative;max-width:220px;margin:0 auto;/* padding:50px 20px 10px;*/padding:48px 0 0}
.file-wrap label{display:block;position:absolute;top:0;left:20px;right:20px;height:40px;line-height:38px;cursor:pointer;border-radius:2px;border:solid 1px #4c34d9;background-color:#fff;font-size:14px;font-weight:500;text-align:center;color:#4c34d9;}
.file-wrap em{display:block;padding:0 10px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.file-wrap .file-input{display:none;}
.file-text{font-size:14px;line-height:1.43;color:#ff2727;}

.content-sect{position:relative;margin-top:64px;}
.content-sect.mt0{margin-top:0;}
.content-sect.mb20{margin-bottom:20px;}
.table-wrap{position:relative;overflow:auto;clear:both;}
.base-table{table-layout:fixed;overflow:hidden;}
.base-table.wide{width:1280px;}
.base-table.small{width:120%;}

@media screen and (max-width:1024px){
	.table-wrap .base-table{width:1200px;}
	.content-sect-wrap .content-sect	.table-wrap .base-table{width:120%;max-width:960px}
	.space-list dt{float:none;width:100%;margin-bottom:5px;}

	.content-sect-wrap{margin:0}
	.content-sect-wrap + .content-sect-wrap,
	.content-head + .content-sect-wrap{margin-top:30px;}
	.content-sect-wrap .content-sect{float:none;width:100%;padding:0}
	.content-sect-wrap.sect-3n .content-sect{width:100%;}

}
@media screen and (max-width:767px){
	.content-sect-wrap + .content-sect-wrap,
	.content-head + .content-sect-wrap{margin-top:20px;}
	.content-sect-wrap .content-sect	.table-wrap .base-table{width:180%;}
	.content-sect{margin-top:64px;}
}
@media screen and (max-width:479px){

}

.base-table thead tr{background-color:#4c34d9;}
.base-table thead tr + tr th{border-top:1px solid #e4e6e7;}
.base-table th,.base-table td{height:46px;border:0 none;padding:10px 2px;font-weight:500;color:#1e1e1e;line-height:26px;text-align:center;vertical-align:middle;}
.base-table th{background-color:#4c34d9;font-size:14px;color:#fff;/* overflow:hidden;white-space:nowrap; */}
.base-table td{min-width:60px;border-bottom:1px solid #e4e6e7;background-color:#fff;font-size:14px;color:#3d3e41;word-break:break-word;}
.base-table.color-select-table td{height:auto;padding:3px 2px;}
.base-table td.red{color:#ff2727}
.base-table td.blue{color:#4c34d9}
.base-table td.blue{color:#4c34d9}
.base-table td.form_td{padding:15px 24px;}
.base-table td.form_td .form-title{padding:1px 0 2px;line-height:1;}
.base-table td.form_td .form-list li + li{margin-top:15px;}
.base-table .bg th,
.base-table thead tr + tr.bg th{background-color:#ffd4d4;border:1px solid #e4e6e7;color:#3d3e41;}
.base-table .bg td{background-color:#f3f4fa;}
.base-table tbody tr:hover th,.base-table tbody tr:hover td{background-color:#ecf3f9;}

.base-table td > a{text-decoration:underline;}
.base-table td .round{display:inline-block;padding:0 17px;border-radius:13.5px;background-color:#d1d1d1;font-size:14px;color:#fff;}
.base-table td .round2{display:inline-block;width:60px;border-radius:13.5px;background-color:#ff7500;font-size:14px;color:#fff;text-align:center;}
.base-table td .round3{display:inline-block;width:60px;border-radius:13.5px;background-color:#0098ff;font-size:14px;color:#fff;text-align:center;}

.base-table td.bar{padding-left:20px;padding-right:20px;}
.base-table td.bar > div{position:relative;min-width:200px;max-width:300px;height:24px;line-height:24px;margin:0 auto;background-color:#d5d7e4;font-size:14px;font-weight:500;color:#fff;cursor:pointer;}
.base-table td.bar > div .gauge{height:100%;background-color:#4c34d9;}
.base-table td.bar > div .text{position:absolute;top:0;left:0;height:100%;padding:0 6px;}
.base-table td.bar > div .time{display:none;position:absolute;bottom:50%;left:50%;width:190px;margin-left:-95px;padding:8px;opacity:0.8;border-radius:4px;background-color:#000;text-align:center;}
.base-table td.bar > div:hover .time{display:block;}
.base-table td.bar > div:hover .time:after{display:block;content:'';position:absolute;left:50%;opacity:1;}
.base-table td.bar > div:hover .time:after{bottom:-6px;margin-left:-7px;border-left:7px solid transparent;border-right:7px solid transparent;border-top:6px solid #000;}

.line-table td{border:1px solid #e4e6e7;}

.table-btn{position:relative;margin-top:24px;min-height:40px;font-size:0;}
.table-btn::after{display:block;clear:both;content:'';}
.table-btn .paging{text-align:center;}
.table-btn .paging a{display:inline-block;width:32px;height:32px;margin:0 2px;line-height:30px;border:solid 1px #adbbd7;background-color:#fff;font-family:Roboto;font-size:14px;text-align:center;color:#000;}
.table-btn .paging a.active{border:solid 1px #4c34d9;background-color:#4c34d9;color:#fff;}
.table-btn .paging a.prev,
.table-btn .paging a.next{background-repeat:no-repeat;background-position:50% 50%;background-size:16px 16px;text-indent:-9999px;font-size:0;}
.table-btn .paging a.prev{background-image:url(../images/common/table_paging_prev@2x.png);}
.table-btn .paging a.next{background-image:url(../images/common/table_paging_next@2x.png);}

.table-btn .button{position:absolute;top:0;right:0;}
.table-btn .button a{display:inline-block;width:120px;height:40px;line-height:38px;padding:0;border-radius:4px;background-color:#4c34d9;border:solid 1px #4c34d9;font-family:Roboto;font-size:14px;font-weight:700;text-align:center;color:#fff;}

.content-sect-box{position:relative;margin:0 -20px;}
.content-sect-box::after{display:block;clear:both;content:'';}
.content-sect-box > .inner-box{float:left;width:33.33%;padding:0 20px;}
.content-sect-box .box-head{position:relative;height:48px;padding:7px 16px;border:solid 1px #dcdee0;border-radius:2px 2px 0 0;background-color:#f0eefd;text-align:center;}
.content-sect-box .box-body{position:relative;height:337px;padding:16px 16px 0;border:solid 1px #dcdee0;border-radius:0 0 2px 2px;border-top:0 none;background-color:#fff;}
.content-sect-box .box-head-title{line-height:34px;font-size:14px;font-weight:700;text-align:center;color:#3d3e41;}
.content-sect-box .box-head-title p{display:inline-block;padding-left:5px;font-weight:400;color:#3d3e41;}

.content-sect-box > .half-box{float:left;width:50%;padding:0 20px;}
.content-sect-box > .half-box .box-head-title{text-align:left;}
.content-sect-box > .half-box .box-body{height:auto;padding:8px 16px 16px}

@media screen and (max-width:1024px){
	.content-sect-box{margin:0}
	.content-sect-box > .inner-box{float:none;width:100%;padding:0}
	.content-sect-box > .inner-box + .inner-box{margin-top:20px;}
	.content-sect-box .box-body{height:auto;padding:16px}
	.content-sect-box > .half-box{padding:0 10px 0 0;}
	.content-sect-box > .half-box + .half-box{padding:0 0 0 10px;}
}
@media screen and (max-width:767px){
	.content-sect-box > .half-box{float:none;width:100%;padding:0}
	.content-sect-box > .half-box + .half-box{margin-top:20px;padding:0}
}
@media screen and (max-width:479px){

}

.content-sect-box .box-head-prev,.content-sect-box .box-head-next{display:block;position:absolute;top:7px;width:30px;height:30px;background-repeat:no-repeat;background-position:50% 50%;background-size:12px 12px;text-indent:-9999px;font-size:0;}
.content-sect-box .box-head-prev{left:7px;background-image:url(../images/common/box_head_prev@2x.png);}
.content-sect-box .box-head-next{right:7px;background-image:url(../images/common/box_head_next@2x.png);}
.content-sect-box .box-head-del{display:block;position:absolute;top:7px;right:7px;width:78px;height:34px;line-height:32px;border-radius:2px;border:solid 1px #c8c8c8;background-color:#fff;font-size:14px;font-weight:700;text-align:center;color:#707070;}
.content-sect-box .box-list{position:relative;margin:0 -10px;}
.content-sect-box .box-list::after{display:block;clear:both;content:'';}
.content-sect-box .box-list > li{float:left;width:33.33%;padding:0 10px 10px;}
.content-sect-box .box-list > li div{height:128px;padding:16px 10px 0;border-radius:2px;border:solid 1px #dcdee0;background-color:#eaeaea;text-align:center;font-size:14px;color:#3d3e41;line-height:16px;}
.content-sect-box .box-list > li div:hover{background-color:#f2fdff}
.content-sect-box .box-list > li strong{display:block;font-weight:700;}
.content-sect-box .box-list > li p{padding-top:16px;font-weight:400;}
.content-sect-box .box-list > li p b{display:block;padding-top:4px;font-size:20px;font-weight:700;line-height:22px;}

.content-sect-box .box-type1{}
.content-sect-box .box-type2 .box-head-title{text-align:left}
.content-sect-box .box-type2 .box-list > li div{height:138px;}
.content-sect-box .box-type2 .box-list > li p{color:#4c34d9;}
.content-sect-box .box-type2 .box-list > li p + p{color:#3d3e41;}
.content-sect-box .box-type2 .box-list > li .check p b{color:#ff2727;}
.content-sect-box .box-type2 .box-list > li .check p + p{color:#ff2727;}

.inner-table {table-layout:fixed;overflow:hidden;margin-bottom:12px;border-top:1px solid #000;}
.inner-table thead tr{background-color:#eaecf4;}
.inner-table th,.inner-table td{height:46px;border:0 none;border-bottom:1px solid #e4e6e7;padding:10px 2px;font-size:14px;font-weight:500;color:#3d3e41;line-height:26px;text-align:center;vertical-align:middle;}
.inner-table th.colgroup{border-bottom:1px solid #000;}
.inner-table th.colgroup + th.colgroup{border-left:1px solid #000;}
.inner-table th{background-color:#eaecf4;}
.inner-table td{min-width:60px;background-color:#fff;color:#3d3e41;word-break:break-word;}
.inner-table td.point{color:#ff2727}
.inner-table th .br,.inner-table td .br{line-height:16px;}
.inner-table td > a{text-decoration:underline;}
.inner-table th.left,.inner-table td.left{padding:10px 12px;text-align:left;}
.inner-table-left th,.inner-table-left td{padding:10px 12px;text-align:left;}

.inner-table-1200{table-layout:fixed;overflow:hidden;margin-bottom:12px;border-top:1px solid #000;width:3000px;}
.inner-table-1200 thead tr{background-color:#eaecf4;}
.inner-table-1200 th,.inner-table-1200 td{height:46px;border:0 none;border-bottom:1px solid #e4e6e7;padding:10px 2px;font-size:14px;font-weight:500;color:#3d3e41;line-height:26px;text-align:center;vertical-align:middle;}
.inner-table-1200 th.colgroup{border-bottom:1px solid #000;}
.inner-table-1200 th.colgroup + th.colgroup{border-left:1px solid #000;}
.inner-table-1200 th{background-color:#eaecf4;}
.inner-table-1200 td{min-width:60px;background-color:#fff;color:#3d3e41;word-break:break-word;}
.inner-table-1200 td.point{color:#ff2727}
.inner-table-1200 th .br,.inner-table-1200 td .br{line-height:16px;}
.inner-table-1200 td > a{text-decoration:underline;}
.inner-table-1200 th.left,.inner-table-1200 td.left{padding:10px 12px;text-align:left;}
.inner-table-1200-left th,.inner-table-1200-left td{padding:10px 12px;text-align:left;}


.inner-table-3000{table-layout:fixed;overflow:hidden;margin-bottom:12px;border-top:1px solid #000;width:3000px;}
.inner-table-3000 thead tr{background-color:#eaecf4;}
.inner-table-3000 th,.inner-table-3000 td{height:46px;border:0 none;border-bottom:1px solid #e4e6e7;padding:10px 2px;font-size:14px;font-weight:500;color:#3d3e41;line-height:26px;text-align:center;vertical-align:middle;}
.inner-table-3000 th.colgroup{border-bottom:1px solid #000;}
.inner-table-3000 th.colgroup + th.colgroup{border-left:1px solid #000;}
.inner-table-3000 th{background-color:#eaecf4;}
.inner-table-3000 td{min-width:60px;background-color:#fff;color:#3d3e41;word-break:break-word;}
.inner-table-3000 td.point{color:#ff2727}
.inner-table-3000 th .br,.inner-table-3000 td .br{line-height:16px;}
.inner-table-3000 td > a{text-decoration:underline;}
.inner-table-3000 th.left,.inner-table-3000 td.left{padding:10px 12px;text-align:left;}
.inner-table-3000-left th,.inner-table-3000-left td{padding:10px 12px;text-align:left;}

.modal-detail-right .inner-table-wide{width:2000px;}

@media screen and (max-width:1040px){
	.modal-wrap.w1024 .modal-content .inner-table{min-width:560px}
}

.table-paging{text-align:left;}
.table-paging::after{display:block;clear:both;content:'';}
.table-paging > div,.table-paging > a{display:block;float:left;line-height:40px;}
.paging-select{width:100px;margin-right:15px;}
.paging-arrow,.paging-refresh{width:32px;height:40px;text-indent:-9999px;font-size:0;background-repeat:no-repeat;background-position:50% 50%;background-size:16px 16px;}
.paging-first{background-image:url(../images/common/paging_first@2x.png);}
.paging-prev{background-image:url(../images/common/paging_prev@2x.png);}
.paging-next{background-image:url(../images/common/paging_next@2x.png);}
.paging-last.off{background-image:url(../images/common/paging_last_off@2x.png);}
.paging-first.off{background-image:url(../images/common/paging_first_off@2x.png);}
.paging-prev.off{background-image:url(../images/common/paging_prev_off@2x.png);}
.paging-next.off{background-image:url(../images/common/paging_next_off@2x.png);}
.paging-last{background-image:url(../images/common/paging_last@2x.png);}
.paging-refresh{background-image:url(../images/common/paging_refresh@2x.png);}
.paging-count{padding:0 15px;}
.paging-count input{display:inline-block;width:56px;margin:0 4px;text-align:center;}

.content-sect-box .inner-btn{display:block;height:40px;line-height:38px;border-radius:2px;border:solid 1px #4c34d9;background-color:#fff;font-size:14px;font-weight:700;text-align:center;color:#4c34d9;}

/* 레이어팝업 */
.modal-wrap{position:fixed;left:0;top:0;width:100%;height:100%;padding:20px 0;background:rgba(0, 0, 0, 0.6);opacity:0;visibility:hidden;transform:scale(1.1);transition:all .2s ease;z-index:1000;}
.modal-wrap .modal-content{position:absolute;top:50%;left:50%;width:560px;max-width:calc(100% - 40px);max-height:calc(100% - 40px);margin:0 auto;overflow-x:visible;/* transform:translate(-50%,-50%); */transform:translate(calc(-50% + 0.9px), calc(-50% + 0.5px));z-index:999;}
.modal-wrap .modal-close{position:absolute;top:50%;right:24px;width:16px;height:16px;margin-top:-8px;padding:0;line-height:1;cursor:pointer;background:url(../images/common/modal_close@2x.png) no-repeat 50% 50% / 100% 100%;text-indent:-9999px;}

.modal-head{position:relative;min-height:52px;padding:17px 40px 17px 24px;background-color:#4c34d9;text-align:left;	}
.modal-head-title{font-size:16px;font-weight:700;color:#fff;line-height:18px;}
.modal-head-title p{display:inline-block;padding-left:6px;font-size:14px;font-weight:400;color:#fff;line-height:18px;}
.modal-body{position:relative;background-color:#fff;}
.modal-body::after{display:block;clear:both;content:'';}
.modal-scroll{max-height:100%;overflow-y:auto;}
.scroll-inner{padding:16px 24px 36px;}
.scroll-inner::after{display:block;clear:both;content:'';}
.modal-wrap.active{opacity:1;visibility:visible;transform:scale(1.0);transition:visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;}
body.show-modal{overflow:hidden;}

.modal-wrap.w1024 .modal-content{width:1024px !important;}
.modal-wrap.w1280 .modal-content{width:1280px !important;}
.modal-wrap.w1024-table .modal-content{width:1024px !important;}
.modal-wrap.w1400-table .modal-content{width:1400px !important;}
.modal-wrap.w1024-table .scroll-inner{width:1400px !important;}

.sect-line{clear:both;width:100%;height:1px;margin:24px 0 12px;background-color:#e4e6e7;}
.sect-line::after{display:block;clear:both;content:'';}
.sect-title{padding-top:8px; font-size:16px;font-weight:500;color:#4c34d9;}
.sect-text{padding-top:16px;font-size:14px;color:#ff2727;}

.req{display:inline-block;padding-left:6px;font-size:14px;font-weight:500;color:#ff2727;vertical-align:baseline;}
label .req{padding-left:2px;}

.sect-wrap{position:relative;}
.sect-wrap::after{display:block;clear:both;content:'';}
.sect-wrap.sect-3n{}
.sect-wrap > .sect-item{float:left;width:100%;padding:0 8px;}
.sect-wrap.sect-2n > .sect-item{width:50%;}
.sect-wrap.sect-3n > .sect-item{width:33.33%;}
.sect-wrap .sect-title{height:38px;}
.sect-wrap .sect-box{height:500px;padding:12px;border-radius:2px;border:solid 1px #e4e6e7;background-color:#fff;overflow-y:auto;}
.sect-wrap .sect-box .check + .check{margin-top:8px;}
.sect-title + .form-list{padding-top:8px;}
.form-list{}
.form-list + .form-list{padding-top:8px;}
.form-list li{text-align:left;}
.form-list li + li{margin-top:8px;}
.form-title{display:block;margin-bottom:6px;padding-top:8px;font-size:14px;font-weight:700;color:#3d3e41;}
.form-text{margin-bottom:10px;padding-top:2px; font-size:14px;font-weight:700;color:#4c34d9;}

/*.form-data{margin-bottom:36px;}*/
.form-data::after{display:block;clear:both;content:'';}
.form-data dt,.form-data dd{float:left;}
.form-data dt{height:40px;padding-right:8px;line-height:40px; font-size:14px;font-weight:500;color:#3d3e41;}
.form-data dd select{width:100px;}
.form-data dd + dt{margin-left:16px;}

@media screen and (max-width:1040px){
	.form-data{margin-bottom:20px;}
	.form-data dt,.form-data dd{width:16.66%;margin-bottom:10px;padding-right:16px;}
	.form-data dd select{width:100%;}
	.form-data dd + dt{margin-left:0;}
}
@media screen and (max-width:768px){
	.form-data dt,.form-data dd{width:25%;}
}
@media screen and (max-width:480px){
	.form-data dt,.form-data dd{width:50%;}
	.form-data dd{padding-right:0;}
}


.form-box{position:relative;}
.form-box::after{display:block;clear:both;content:'';}
.form-box + .form-box{margin-top:6px;}

.form-half{}
.form-half > div{float:left;width:50%;padding:0 3px 0 0;}
.form-half > div + div{padding:0 0 0 3px;}

.form-checkbtn{}
.form-checkbtn > div{float:left;}
.form-checkbtn .input{width:73%;}
.form-checkbtn .button{width:26%;margin-left:1%;}

.form-select-btn{}
.form-select-btn > div{float:left;}
.form-select-btn .select{width:30%;}
.form-select-btn .input{width:42%;margin-left:1%;}
.form-select-btn .button{width:26%;margin-left:1%;}

.form-checkbox{}
.form-checkbox > div{float:left;}
.form-checkbox > div + div{margin-left:24px;}

.form-email-btn{}
.form-email-btn > div{float:left;}
.form-email-btn .email1{width:29%;}
.form-email-btn .email2{width:39%;}
.form-email-btn .dash{width:5%;}
.form-email-btn .button{width:26%;margin-left:1%;}

.form-find-tel-btn{}
.form-find-tel-btn > div{float:left;}
/*.form-find-tel-btn .tel{width:21%;}*/
.form-find-tel-btn .tel{width:73%;}
.form-find-tel-btn .dash{width:5%;}
.form-find-tel-btn .button{width:26%;margin-left:1%;}

.form-email{}
.form-email > div{float:left;}
.form-email .email{width:100%;}
.form-email .email1{width:47%;}
.form-email .email2{width:47%;}
.form-email .dash{width:6%;}

.form-tel{}
.form-tel > div{float:left;}
.form-tel .tel1,.form-tel .tel2,.form-tel .tel3{width:26%;}
.form-tel .tel{width:100%;}
.form-tel .dash{width:4%;}


.form-date{}
.form-date > div{float:left;}
.form-date .date{width:30%;margin-right:2%;}
.form-date .time{position:relative;width:28%;padding-right:33px;}
.form-date .time p{position:absolute;right:0;top:0;width:25px;font-size:14px;color:#3d3e41;line-height:40px;}

.form-btn{position:relative;font-size:0;text-align:right;}
.form-btn::after{display:block;clear:both;content:'';}
.form-btn a{display:inline-block;height:40px;line-height:38px;padding:0 17px;border-radius:2px;border:solid 1px #4c34d9;background-color:#4c34d9;font-size:14px;font-weight:500;text-align:center;color:#fff;}
.form-btn a + a{margin-left:8px;}
.form-btn a.line{background-color:#fff;border-color:#c8c8c8;color:#707070;}

.modal-option{position:relative;padding:24px 24px 0;}
.modal-option::after{display:block;clear:both;content:'';}

.modal-table-title{padding:4px 0 6px;font-size:14px;color:#9e9fa7;}
.modal-wrap .inner-table{margin-bottom:0;}
.modal-wrap .inner-table-wide{margin-bottom:0;width:6000px;}
.modal-wrap .inner-table-header-wide{margin-bottom:0;width:1200px;}
.modal-wrap .inner-table-header-wide tbody{
	display:block;
	overflow:auto;
	height:275px;
	width:1200px;
}


.form-file{position:relative;padding-left:217px;}
.form-file .file{position:absolute;top:0;left:0;}
.form-file .text{}
.form-file label{display:block;position:absolute;top:0;left:0;width:88px;height:40px;line-height:38px;border-radius:2px;border:solid 1px #4c34d9;background-color:#fff; font-size:14px;text-align:center;color:#4c34d9;cursor:pointer}
.form-file .file-input{display:none;}
.form-file .file-name{display:block;position:absolute;top:0;left:88px;width:129px;height:40px;line-height:40px;padding:0 8px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.form-file .file-name.placeholder{color:#b9b9b9;}

.modal-detail{position:relative;margin-bottom:12px;padding-bottom:12px;border-bottom:1px solid #4c34d9;}
.modal-detail::after{display:block;clear:both;content:'';}

.detail-title{float:left;padding-top:16px;font-size:18px;font-weight:700;color:#3d3e41;}
.detail-btn{position:relative;float:right;font-size:0;}

.detail-title{}
.detail-btn{}

.detail-btn{position:relative;float:right;font-size:0;}
.detail-btn a{display:inline-block;width:151px;height:40px;line-height:38px;padding:0 5px;border-radius:2px;border:solid 1px #4c34d9;background-color:#fff;font-size:14px;font-weight:500;text-align:center;color:#4c34d9;}
.detail-btn a + a{margin-left:8px;}

.modal-detail-wrap{}
.modal-detail-wrap::after{display:block;clear:both;content:'';}
.modal-detail-wrap + .modal-detail{margin-top:30px;}
.modal-detail-left{float:left;width:266px;border-radius:2px;border:solid 1px #dcdee0;background-color:#fff;}
.modal-detail-right{float:right;width:942px;border-radius:2px;border:solid 1px #dcdee0;background-color:#fff;}
.modal-detail-head{height:48px;padding:16px 12px 0;border-bottom:solid 1px #dcdee0;background-color:#f0eefd;font-size:14px;font-weight:500;line-height:16px;color:#3d3e41;}
.modal-detail-body{height:440px;padding:12px;overflow:auto;}


.modal-detail-body .table-wrap + .table-wrap{margin-top:12px;}

.modal-half{clear:both;position:relative;margin:0 -12px;}
.modal-half::after{display:block;clear:both;content:'';}
.modal-half > li{width:50%;padding:0 12px;}
.modal-half > li:nth-child(odd){float:left;clear:both}
.modal-half > li:nth-child(even){float:right;}
.modal-half > li:nth-child(1) .modal-half-title,.modal-half > li:nth-child(2) .modal-half-title{padding-top:22px;}
.modal-half-title{margin-bottom:16px;padding-top:46px;font-size:16px;font-weight:500;color:#3d3e41;line-height:18px;}

@media screen and (max-width:1040px){
	.modal-wrap.w1024 .modal-content{width:100% !important;}
	.modal-detail-left{float:none;width:100%;border-radius:2px;border:solid 1px #dcdee0;background-color:#fff;}
	.modal-detail-right{float:none;width:100%;border-radius:2px;border:solid 1px #dcdee0;background-color:#fff;}
	.modal-detail-body{height:auto}

	.modal-half{margin:0;}
	.modal-half > li{width:100%;padding:0;}
	.modal-half > li:nth-child(odd){float:none;clear:both}
	.modal-half > li:nth-child(even){float:none;}


/* 	.modal-wrap.w1024 .scroll-inner,
	.modal-wrap.w1024-table .scroll-inner{width:1024px;} */
}

@media screen and (max-width:559px){
	body.show-modal::before{display:block;clear:both;content:'';position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.6);z-index:100;}
	.modal-wrap{position:absolute;background-color:transparent;}

	.modal-wrap.w560 .scroll-inner,
	.modal-wrap.w560-table .scroll-inner{width:560px;}
	.modal-wrap.w800-table .scroll-inner{width:800px;}

	.modal-scroll{overflow-x:auto;}
	/*.scroll-inner{width:560px;}*/
	.modal-head-title p{display:block;padding:5px 0 0;}
}

@media screen and (max-width:479px){
	/*.scroll-inner{width:480px;}*/
	.modal-option{position:relative;padding:16px 16px 0;}
	.scroll-inner{padding:16px}

	.form-email-btn .email1{width:29%;}
	.form-email-btn .email2{width:34%;}
	.form-email-btn .dash{width:7%;}
	.form-email-btn .button{width:29%;margin-left:1%;}

}
@media screen and (max-width:359px){
	.scroll-inner{width:380px;}
}

/* 탭메뉴 */
.color-select{position:relative;width:100px;height:40px;margin:0 auto;border-radius:2px;border:solid 1px #7b868c;background-color:#fff;}
.color-select *{color:transparent;}
.color-select button{position:relative;display:block;height:38px;padding:8px 12px;border:0 none;background-color:transparent;text-align:left;}
.color-select button::after{display:block;clear:both;content:'';position:absolute;top:50%;right:12px;width:12px;height:12px;margin-top:-6px;background:url(../images/common/color_select_arrow@3x.png) no-repeat 0 0 / 100% 100%;}
.color-select span{display:inline-block;width:24px;height:24px;border:1px solid #000;text-indent:-9999px;font-size:0;}
.color-select ul{display:none;height:40px;padding:8px 12px;border-radius:2px;border:solid 1px #7b868c;background-color:#fff;vertical-align:top;z-index:11}
.color-select.color1 ul{width:50px;}/* (24*n) + 26 */
.color-select.color2 ul{width:78px;}/* (26*n) + 26 */
.color-select.color3 ul{width:104px;}
.color-select.color4 ul{width:130px;}
.color-select.color5 ul{width:156px;}
.color-select.color6 ul{width:182px;}
.color-select.color7 ul{width:208px;}
.color-select.color8 ul{width:234px;}
.color-select.color9 ul{width:260px;}
.color-select.color10 ul{width:286px;}
.color-select.color11 ul{width:312px;}
.color-select.color12 ul{width:338px;}
.color-select .active + ul{display:block;position:absolute;left:50%;top:-1px;background:#fff;border:1px solid #004cb1;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%);}

.color-select ul li.active{z-index:2}
.color-select ul li{float:left;white-space:nowrap;}
.color-select ul li + li{margin-left:2px;}
.color-view{width:180px;height:40px;border-radius:2px;border:solid 1px #7b868c;vertical-align:top;}
.color-view span{display:block;width:100%;height:38px;line-height:38px;margin:0 auto;border-radius:2px;background-color:#fff;padding:0 8px;background-color:#fff;}

.content-bottom{margin-top:48px;padding:16px 0;border-top:1px solid #000;text-align:center;}
.content-bottom .option-btn{float:none}
.content-bottom .option-btn a{width:88px;background-color:#fff;}
.content-bottom-text{padding-top:24px;}
.content-bottom-text p{margin-bottom:12px;font-size:14px;font-weight:700;color:#3d3e41;}

@media screen and (max-width:767px){
	.content-bottom{margin-top:24px;}
	.content-bottom-text{padding-top:12px;}
}