
/* NanumSquare */
@font-face {
	font-family:'NanumSquare';font-style:normal;font-weight:300;
	src:url('../fonts/NanumSquareL.eot');
	src:url('../fonts/NanumSquareL.eot?#iefix') format('embedded-opentype'),
	url('../fonts/NanumSquareL.woff') format('woff'),
	url('../fonts/NanumSquareL.ttf') format('truetype');
}
@font-face {
	font-family:'NanumSquare';font-style:normal;font-weight:400;
	src:url('../fonts/NanumSquareR.eot');
	src:url('../fonts/NanumSquareR.eot?#iefix') format('embedded-opentype'),
	url('../fonts/NanumSquareR.woff') format('woff'),
	url('../fonts/NanumSquareR.ttf') format('truetype');
}
@font-face {
	font-family:'NanumSquare';font-style:normal;font-weight:700;
	src:url('../fonts/NanumSquareB.eot');
	src:url('../fonts/NanumSquareB.eot?#iefix') format('embedded-opentype'),
	url('../fonts/NanumSquareB.woff') format('woff'),
	url('../fonts/NanumSquareB.ttf') format('truetype');
}
@font-face {
	font-family:'NanumSquare';font-style:normal;font-weight:900;
	src:url('../fonts/NanumSquareEB.eot');
	src:url('../fonts/NanumSquareEB.eot?#iefix') format('embedded-opentype'),
	url('../fonts/NanumSquareEB.woff') format('woff'),
	url('../fonts/NanumSquareEB.ttf') format('truetype');
}
/* Noto Sans Korean */
@font-face{
	font-family:'Noto Sans Korean';font-style:normal;font-weight:200;
	src:url('../fonts/notokr-light.eot');
	src:url('../fonts/notokr-light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-light.woff') format('woff'),
	url('../fonts/notokr-light.ttf') format('truetype'),
	url('../fonts/notokr-light.svg#notokr-light') format('svg');
}
@font-face{
	font-family:'Noto Sans Korean';font-style:normal;font-weight:300;
	src:url('../fonts/notokr-demilight.eot');
	src:url('../fonts/notokr-demilight.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-demilight.woff') format('woff'),
	url('../fonts/notokr-demilight.ttf') format('truetype'),
	url('../fonts/notokr-demilight.svg#notokr-demilight') format('svg');
}
@font-face{
	font-family:'Noto Sans Korean';font-style:normal;font-weight:400;
	src:url('../fonts/notokr-regular.eot');
	src:url('../fonts/notokr-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-regular.woff') format('woff'),
	url('../fonts/notokr-regular.ttf') format('truetype'),
	url('../fonts/notokr-regular.svg#notokr-regular') format('svg');
}
@font-face{
	font-family:'Noto Sans Korean';font-style:normal;font-weight:500;
	src:url('../fonts/notokr-medium.eot');
	src:url('../fonts/notokr-medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-medium.woff') format('woff'),
	url('../fonts/notokr-medium.ttf') format('truetype'),
	url('../fonts/notokr-medium.svg#notokr-medium') format('svg');
}
@font-face{
	font-family:'Noto Sans Korean';font-style:normal;font-weight:700;
	src:url('../fonts/notokr-bold.eot');
	src:url('../fonts/notokr-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-bold.woff') format('woff'),
	url('../fonts/notokr-bold.ttf') format('truetype'),
	url('../fonts/notokr-bold.svg#notokr-bold') format('svg');
}
@font-face {  font-family: 'Roboto';  font-style: normal;  font-weight: 100;
	src: url('../fonts/Roboto-Thin.woff2') format('woff2'),
	url('../fonts/Roboto-Thin.woff') format('woff'),
	url('../fonts/Roboto-Thin.otf') format('opentype');}
@font-face {  font-family: 'Roboto';  font-style: normal;  font-weight: 300;
	src: url('../fonts/Roboto-Light.woff2') format('woff2'),
	url('../fonts/Roboto-Light.woff') format('woff'),
	url('../fonts/Roboto-Light.otf') format('opentype');}
@font-face {   font-family: 'Roboto';   font-style: normal;   font-weight: 400;
	src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
	url('../fonts/Roboto-Regular.woff') format('woff'),
	url('../fonts/Roboto-Regular.otf') format('opentype'); }
@font-face {   font-family: 'Roboto';   font-style: normal;   font-weight: 500;
	src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
	url('../fonts/Roboto-Medium.woff') format('woff'),
	url('../fonts/Roboto-Medium.otf') format('opentype'); }
@font-face {   font-family: 'Roboto';   font-style: normal;   font-weight: 700;
	src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
	url('../fonts/Roboto-Bold.woff') format('woff'),
	url('../fonts/Roboto-Bold.otf') format('opentype'); }
