@charset "utf-8";
@import url('fonts.css');

html,body{height:100%;}
::selection{color:white;background-color:#003775;-webkit-text-stroke:initial;}
body{min-width:320px;-webkit-text-size-adjust:none;/* mobile text size */-webkit-font-smoothing:subpixel-antialiased;/* antialiased or subpixel-antialiased 웹킷 브라우저 웹폰트 선명하게 처리 */font-variant-ligatures:none;/* fi 수정 */}
img{-ms-interpolation-mode:bicubic;}

/* Reset */
*{vertical-align:top;box-sizing:border-box;}
body,button,input,textarea,select,table,h1,h2,h3,h4,h5,h6{font-family:/*'NanumSquare',*/'Noto Sans Korean','Noto Sans KR','Spoqa Han Sans','돋움','dotum','sans-serif';font-size:14px;font-weight:400;color:#666;line-height:1.35;/*word-break:keep-all;*/}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,form,fieldset,legend,label,button,input,textarea,select,optgroup,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;box-sizing:border-box}
article,aside,footer,header,nav,section,figcaption,figure,main,details,menu{display:block}
blockquote,q{quotes:none}
blockquote::before,blockquote::after,q::before,q::after{content:'';content:none}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
template{display:none}
[hidden]{display:none}
summary{display:list-item}
pre{font:inherit;color:inherit;word-wrap:break-word;white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-break:break-all;}
ol,ul{list-style:none}
dt,dd{display:block}
table{width:100%;border-collapse:collapse;border-spacing:0;}
caption,legend{overflow:hidden;font-size:0;line-height:0}
audio,video{display:inline-block}
audio:not([controls]){display:none;height:0}
svg:not(:root){overflow:hidden}
canvas{display:inline-block}
img{max-width:100%;border-style:none;vertical-align:top}
fieldset,img{border:none}
button{cursor:pointer}
button,input{overflow:visible}
button,select{text-transform:none}
input,button,select{vertical-align:top}
input,button,select,textarea{font-size:inherit;box-sizing:border-box;}
input[disabled],input[readonly]{/*cursor:not-allowed;background-color:#eaeaea;*/}
::placeholder{font-family:'Noto Sans Korean','Noto Sans KR';color:#b2b2b2;opacity:1;}
::-webkit-input-placeholder,::-ms-input-placeholder,::-moz-placeholder{color:#b2b2b2;opacity:1;}
button,[type="reset"],[type="submit"]{border:0 none;background:none;cursor:pointer;-webkit-appearance:button}
button::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;}
button:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}
[type="checkbox"],[type="radio"]{}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}
[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}
[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
textarea{display:block;overflow:auto;resize:vertical;}
input:checked[type="checkbox"]{background-color:#fff;-webkit-appearance:checkbox;}
[type="text"],[type="password"],[type="email"],[type="search"],[type="image"],[type="tel"],button,select,textarea{-webkit-border-radius:0;-webkit-appearance:none;}
:focus{outline-offset:-1px}

address,em,i{font-style:normal}
hr{box-sizing:content-box;height:0;overflow:visible;margin:0;padding:0;border:0}
a{background-color:transparent;-webkit-text-decoration-skip:objects;color:inherit;cursor:pointer;text-decoration:none}
a:link,a:visited{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:none}

.ir{overflow:hidden;height:0;font-size:0;text-indent:-9999px;}
.blind{display:block;position:absolute;overflow:hidden;width:0;height:0}
.clear{*zoom:1}
.clear:after{content:' ';display:block;clear:both;}
.clear-both{clear:both;}
.float-left{float:left;}
.float-right{float:right;}
.align-left{text-align:left !important;}
.align-center{text-align:center !important;}
.align-right{text-align:right !important;}

/* Forms Style */
input,button,.select,textarea{font-size:inherit;color:inherit;}
[type="text"],[type="password"],select{height:40px;line-height:38px;padding:0 12px;}
[type="text"],[type="password"],select,textarea,button{width:100%;border-radius: 2px;border: solid 1px #7b868c;background:#fff;font-size:14px;font-weight:500;color: #3d3e41;}

[type="text"].date,.date [type="text"]{padding-right: 40px;background: #fff url(../images/common/input_ico_calendar@2x.png) no-repeat right 12px center / 12px 12px;}
select{background:#fff url(../images/common/select_arrow@2x.png) no-repeat right 12px center / 12px 12px;appearance:none;-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;vertical-align:top;font-weight:500;}
select::-ms-expand{display:none;}
textarea{height:160px;padding:16px}
button{height:40px;line-height:40px;padding:0 2px;border:1px solid #4c34d9;color:#4c34d9;text-align:center;}
.dash{height:40px;line-height:40px;text-align:center;}

.select-wrap{position:relative;margin:0 -4px;padding-bottom:16px;}
.select-wrap::after{display:block;clear:both;content:'';}
.select-wrap > .item{float:left;width:50%;padding:0 4px;}

[type="checkbox"]{position:absolute;overflow:hidden;clip:rect(0,0,0,0);width:1px;height:1px;margin:-1px;padding:0;border:0;cursor:pointer}
[type="checkbox"] + label{display:inline-block;padding-left:30px;vertical-align:top;line-height:24px;font-size:14px;font-weight:500;color:#3d3e41;cursor:pointer}
[type="checkbox"].empty + label{width:24px;height:24px;padding-left:0;color:transparent;}
[type="checkbox"] + label + [type="checkbox"] + label{margin-left:16px}
[type="checkbox"] + label{background:url(../images/common/icon_check_off@2x.png) 0 0 no-repeat;background-size:24px 24px;overflow:hidden}
[type="checkbox"]:checked + label{background:url(../images/common/icon_check_on@2x.png) 0 0 no-repeat;background-size:24px 24px;overflow:hidden}

[type="radio"]{position:absolute;overflow:hidden;clip:rect(0,0,0,0);width:1px;height:1px;margin:-1px;padding:0;border:0;cursor:pointer}
[type="radio"] + label{display:inline-block;padding-left:30px;vertical-align:top;line-height:24px;font-size:14px;font-weight:500;color:#3d3e41;cursor:pointer}
[type="radio"].empty + label{width:24px;height:24px;padding-left:0;color:transparent;}
[type="radio"] + label + [type="radio"] + label{margin-left:16px}
[type="radio"] + label{background:url(../images/common/icon_radio_off@2x.png) 0 0 no-repeat;background-size:24px 24px;overflow:hidden}
[type="radio"]:checked + label{background:url(../images/common/icon_radio_on@2x.png) 0 0 no-repeat;background-size:24px 24px;overflow:hidden}

@media screen and (max-width:1023px){
	[type="radio"] + label + [type="radio"] + label{margin-left:8px}
	[type="text"],[type="password"],select,textarea,button,[type="checkbox"] + label,[type="radio"] + label{font-size:13px;}
}

